.sidebar {
  border: 1px solid black;
  height: 100vh;
  flex: 0.2;
  min-width: 230px;
  padding: 0px 10px;
  color: white;
  background-color: #040404;
}

.sidebar__logo {
  margin-right: auto;
  height: 50px;
  padding: 20px;
  padding-top: 25px;
}
.sidebar__title {
  padding-left: 25px;
  font-size: 12px;
}
.sidebar__line {
  border: 1px solid #282828;
  width: 90%;
  margin: 10px auto;
}